@font-face {
    font-family: poppins-light;
    src: url('./fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: poppins-medium;
    src: url('./fonts/Poppins-Medium.ttf')
}

:root {
    --main-gradient: linear-gradient(
        90deg
        rgba(15,155,180,1) 0%
        rgba(48,187,114,1) 100%
    );
    --box-shadow: -2px 3px 7px 0px #000000bf;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #22252c;
    font-family: "poppins-light";
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  font-family: "poppins-light";
  border: none;
  border-radius: 4em;
  cursor: pointer;
  padding: 0;
}

canvas {
  border: 6px solid rgba(255, 255, 255, 0.082);
  border-radius: 25px;
}

body.editor-page::before {
    content: "";
    position: absolute;
    top: 100px;
    left: -5%;
    z-index: -100;
    width: 100%;
    height: 100%;
}

header {
    background: var(--main-gradient);
    margin: 0;
    width: 100%;
    padding: 20px 18px 15px;
}

.logo {
    height: 2.187rem;
}



.hidden {
    display: none;
}

.flex {
    display: flex;
}

.flex.hidden {
    display: none;
}