.hidden {
    display: none;
}

.flex {
    display: flex;
}

.flex.hidden {
    display: none;
}

.space-between {
    justify-content: space-between;
}

.align-item-center {
    align-items: center;
}