@media (max-width: 680px) {
    .canvas-container {
        margin: 6px;
    }

    .fa-bars {
        display: block;
    }
    
    .fa-times {
        display: block;
    }

    nav button {
        background-color: rgba(255, 255, 255, 0);
        color: #fff;
        width: 200px;
        border-radius: 4em;
        margin-inline-start: 0;
        padding: 21px;
        font-family: "poppins-medium";
        font-size: 1.3rem
    }

    nav {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        right: 0;
        top: 0;
        transform: translateX(100%);
        background-color: #383b42;
        z-index: 2;
        transition: transform 0.7s;
    }

    .main-screen {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(31, 31, 31, 0.5);
        z-index: 1;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        cursor: pointer;
        transition: opacity 0.5s;
    }

    .main-screen.open {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 530px){
    .canvas-container {
        width: 90%;
    }
}


@media (min-width:680px) {
    body {
        padding: 6px;
    }

    header {
        margin: 9px 0;
        border-radius: 4em;
    }

    nav {
        flex-direction: row;
        position: relative;
        height: auto;
        transform: translateX(0%);
        background: transparent;
        z-index: 0;
    }

    nav button {
        width: auto;
        margin-inline-start: 20px;
        border-radius: 4em;
        box-shadow: none;
        padding: 3px 22px;
    }
}

@media (max-width: 530px) {
    .memes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

.editor {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 1050px) {
    .editor {
        flex-direction: row;
    }
}

@media (max-width:460px) {
    .tools-bar {
        padding: 0 10px;
    }

    .font-edit {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;
    }

    .share-btns .editor-btn,
    .share-btns a {
        font-size: 1rem;
    }
}