.memes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    align-items: center;
    padding: 30px 35px 15px;
}

.meme {
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: var(--box-shadow);
}

.meme img {
    display: block;
    width: 100%;
}