header {
    background: var(--main-gradient);
    display: inline-block;
    width: 100%;
    padding: 20px 18px 15px;
    margin: 9px 0;
    border-radius: 4em;
}

nav {
    flex-direction: row;
    position: relative;
    height: auto;

    transform: translateX(0%);
    background: transparent;
    z-index: 0;
}

nav button {
    width: auto;
    margin-inline-start: 20px;
    border-radius: 4em;
    box-shadow: none;
    padding: 3px 22px;
}

nav.open {
    transform: translateX(0);
}



nav button:hover,
nav button.active {
    background-color: #fff;
    color: #21ac91;
}

.logo {
    height: 2.187rem;
}

.fa-bars {
    padding: 10px 10px 8px;
    font-size: 1.3rem;
    display: none;
}

.fa-times {
    display: none;
}


  
  